   html, body {
   margin: 0;
   padding: 0; }
  
   .inside1 {background-color: white;
        width:100%;
        height: 62px;
        float: left;}

    .left {color: black;
    font-size: 230%;
    padding: 0px 0px 0px 0px;
margin-bottom: 0px;}
    
     ul li {list-style-type: none;
         
            display: inline;}

    .rightt {float: right;
    padding: 10px;
    font-size: 100%;
    padding:15px 25px 10px 5px;
    font-family: Times New Roman;
    letter-spacing: 2.5px;}
    
    .com {color: lightseagreen;}

    .com,.left {font-family:cursive,sans-serif;}
        
    .inside2 {background-color: #000;
        color: white;
        width:100%;
        height: 45px;
        margin: 0px;
        float: left;}
 
    .HTMLL {
        color: white;
        width: 60px;
        height: 25px;
        float: left;
        padding: 10px 10px 10px 10px;
        text-align: center;}

    .CSSS {
        color: white;
        width: 50px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center; }
        
    .JAVASCRIPTT {
        color: white;
        width: 90px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center;}

        .SQLL {
        color: white;
        width: 90px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center;}

        .PHPP {
        color: white;
        width: 90px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center;}

        .BOOTSTRAPP {
        color: white;
        width: 90px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center;}

        .JQUERYY {
        color: white;
        width: 90px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center;}

        .ANGULARR {
        color: white;
        width: 90px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center;}

    .MOREE {
        color: white;
        width: 70px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center;}
    
    .REFERENCESS {
        color: white;
        width:105px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center;
           
        margin-left: 50px;}

    .EXAMPLESS {
        color: white;
        width: 90px;
        height: 25px;
        float: left;
        padding: 10px;
        text-align: center;}

   a {text-decoration: none;
    color: white;}
                
    .HTMLL,.CSSS:hover {background-color: #117bff;}
    .JAVASCRIPTT:hover {background-color: #117bff;}
    .SQLL:hover {background-color:#117bff;}
    .PHPP:hover {background-color: #117bff;}
    .BOOTSTRAPP:hover {background-color:#117bff;}
    .JQUERYY:hover {background-color: #117bff;}
    .ANGULARR:hover {background-color:#117bff;}
    .MOREE:hover {background-color: #117bff;}
    .REFERENCESS:hover {background-color: #117bff;}
    .EXAMPLESS:hover {background-color: aqua;}
 ul,dir { -webkit-padding-start: 0;  }  

      .inside3 {background-color: white;
        color: black;
        width:100%;
        height: 100%;
        margin: 0px;
        float: left;
        display: flex;}
   
    .scrolll { color: white;
        width:17%;
        height: 100%;
        margin: 0px;
        float: left;}
    
    .tanlov {font-size: 100%;
    letter-spacing: 2px;}
 
    .main {padding: 10px;
    /*margin-left: 190px;*/
    width:68%;
    height: 100%;
        float: left;}
    
    .chap {color: black;
    width:15%;
    float: left;
    padding: 10px;
    /*margin-left: 800px;*/
    height: 100%; }
    
    .previouss {margin-left: 0px;float: left;}
               
    .nextt {margin-left:60px;
              float: right;} 
  
    
       